pre {
    background-color: black !important; /* overides prisim */
    border: none !important;
}

code {
    background-color: black !important; /* overides prisim */
    border: none !important;
}

.body {
    height: auto;
}

.blog-flex {
    color: #FCFCFC;
    margin: 0;
    display: flex;
    margin-top: clamp(4px, 10vh, 400px);
    margin-bottom: clamp(4px, 10vh, 400px);
    justify-content: center;
}

.blog-wrapper {
    background-color: #3F4045;
    border-radius: 15px;
    padding: 30px;
    padding-left: 1em;
    padding-right: 1em;
    width: min(765px, calc(100% - 2em));
    position: relative;
}

.blog-wrapper * {
    margin-bottom: 0px;
    margin-top: 2px;
}

.blog-page-title {
    text-align: center;
    padding-top: 13px;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.search-bar {
    width: 60%;
    padding: 8px;
    border: none;
    border-radius: 11px;
}

.search-bar:focus {
    outline: none;
    border: none;
    box-shadow: 0 3px 6px 5px #796778;
    border-bottom: 2px #796778;
}

.search-button {
    background-color: #5D737E;
    color: #FCFCFC;
    border-radius: 11px;
    padding: 8px;
    width: 100px;
    border: none;
    cursor: pointer;
}

.search-close-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.search-close-button img {
    width: 20px;
    height: 20px
}

.no-content-wrapper {
    display: flex;
    justify-content: center;    
    align-items: center;
    width: 100%;
}

.no-content {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #5D737E;
    width: 95%;
    text-align: center;
    border-radius: 20px;
}

.search-results {
    position: relative;
    width: 95%;
    background-color: #796778;
    border-radius: 10px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.inner-results {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
}

.search-error {
    text-align: center;
}

.no-results {
    text-align: center;
}

.search-card {
    border-radius: 10px;
    background-color: #5D737E;
    padding: 10px;
    width: max(33%, 240px);
    position: relative;
    padding-bottom: 45px;
}

.post-error-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-error {
    background-color: #5D737E;
    text-align: center;
    width: 50%;
    padding: 15px;
    border-radius: 20px;
}

.blog-card {
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 50px;
    background-color: #423841;
    margin-top: 10px;
    position: relative;
    width: 95%;
}

.blog-card h2 {
    font-size: 25px;
}

.read-more-button {
    margin-top: 10px;
    background-color: #5D737E;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.read-more-button:hover {
    text-decoration: none;
}

.card-break {
    margin-bottom: 10px;
}

.blog-break {
    margin-bottom: 30px;
}

.secondary-information {
    color: #d3d3d3;
}

.blog-title {
    margin-bottom: 0px;
    padding-top: 20px;
}

.blog-publish-date {
    margin-top: 2px;
}

.blog-content p {
    padding-top: 10px;
    padding-bottom: 10px;
}