html, .front-page-flex {
    height: 100%;
}

textarea {
    font: inherit;
}

input, label {
    display: block;
}

a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

a {
    color: white;
    text-decoration: underline;
}

html, body {
    background-color: #02111B;
    margin: 0;
    padding: 0;
}

.color-remover {
    color: transparent;
}

.icon-bar {
    position: absolute;
    top: 15px;
    left: 30px;
}

.blog-icon {
    display: inline;
    height: 20px;
    width: 20px;
    padding-right: 10px;
}

.front-page-flex {
    color: #FCFCFC;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front-page-wrapper {
    background-color: #3F4045;
    border-radius: 15px;
    width: min(1200px, 100%);
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 
        inset 0px 0px 30px 5px rgba(255, 255, 255, 0.4),
        0 0 50px #5D737E,
        -10px 0 80px #30292F,
        10px 0 80px #5D737E;
    position: relative;
}

.front-page-message-wrapper {
    flex-basis: 100%;
    text-align: center;
}

.logo-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.front-page-trio {
    background-color: #423841;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    padding: 20px;
    gap: 20px;
}

.inner-trio {
    border-radius: 6px;
    background-color: #5D737E;
    padding: 4px;
    margin: 20px;
}

.project-display {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 0;
}

.project-icon {
    margin: 0;
    width: 75px;
    height: 75px;
}

.project-discription {
    padding-left: 5px;
    text-align: start;
}

.project-text {
    display: inline;
}

.blog-text {
    display: inline;
}

.blog-section {
    text-align: start;
    padding: 10px;
}

.mini-card-break {
    color: #3F4045;
}

.mini-card-error-wrapper {
    border-radius: 6px;
    background-color: #5D737E;
    padding: 8px;
    margin: 20px;
}

.mini-card-error-wrapper * {
    margin: 5px;
}

.front-page-item {
    height: 400px;
    width: 30%;
    text-align: center;
}

.github-logo {
    width: 40px;
    height: 40px;
}

.message-box {
    resize: none;
    height: 150px;
    width: 300px;
    text-align: justify;
    border-radius: 15px;
    padding: 10px;
    border: none;
}

.message-title {
    width: 300px;
}

.message-box:focus {
    outline: none;
    border: none;
    box-shadow: 0 3px 6px 5px #796778;
    border-bottom: 2px #796778;
}

.message-box:active {
    outline: 0px none transparent;
    box-shadow: 0 3px 6px 5px #796778;
    border-bottom: 2px #796778;
}  

.email-label {
    width: 80%;
}

.contact-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 10px;
}

.contact-div input {
    width: 80%;
    border: none;
    padding: 0;
}

.contact-div input {
    padding: 4px;
    border-radius: 10px;
}

.contact-div input:focus {
    outline: none;
    border: none;
    box-shadow: 0 3px 6px 5px #796778;
    border-bottom: 2px #796778;
}

.error-highlight {
    box-shadow: 0 0 9px 1px #FF0A3B;
}

.success-text {
    color: #52A376;
}

.failure-text {
    color: #FF0A3B;
}

.submit-button {
    cursor: pointer;
    color: white;
    background-color: #5D737E;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
}

.circle-trio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100;
}

.loading-circle {
    background-color: #5D737E;
    border-radius: 100%;
    height: 15px;
    width: 15px;
}

.c1 {
    animation: FadeInAndOut1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.c2 {
    animation: FadeInAndOut2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.c3 {
    animation: FadeInAndOut3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes FadeInAndOut1 {
    0% {opacity: 1;}
    33% {opacity: 0;}
    66% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes FadeInAndOut2 {
    0% {opacity: 0;}
    33% {opacity: 1;}
    66% {opacity: 0;}
    100% {opacity: 0;}
}

@keyframes FadeInAndOut3 {
    0% {opacity: 0;}
    33% {opacity: 0;}
    66% {opacity: 1;}
    100% {opacity: 0;}
}