html, body, .front-page-flex {
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

.front-page-flex {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front-page-wrapper {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    width: 900px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.front-page-message-wrapper {
    flex-basis: 100%;
    text-align: center;
}

.front-page-trio {
    background-color: rgba(127, 255, 212, 0.5);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 900px;
}

.front-page-item {
    max-width: 350px;
    height: 350px;
    width: 30%;
    text-align: center;
}

.github-logo {
    width: 150px;
    height: 150px;
}