html, body, .front-page-flex {
    height: 100%;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

html, body {
    background-color: #02111B;
    margin: 0;
    padding: 0;
}

.front-page-flex {
    color: #FCFCFC;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.front-page-wrapper {
    background-color: #3F4045;
    border-radius: 15px;
    width: 1200px;
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 
        inset 0px 0px 30px 5px rgba(255, 255, 255, 0.4),
        0 0 50px #5D737E,
        -10px 0 80px #30292F,
        10px 0 80px #5D737E;
}

.front-page-message-wrapper {
    flex-basis: 100%;
    text-align: center;
}

.front-page-trio {
    background-color: #423841;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    padding: 20px;
    gap: 20px;
}

.inner-trio {
    border-radius: 6px;
    background-color: #5D737E;
    padding: 4px;
    margin: 20px;
}

.front-page-item {
    height: 400px;
    width: 30%;
    text-align: center;
}

.github-logo {
    width: 40px;
    height: 40px;
}

.message-box {
    resize: none;
    height: 150px;
    width: 300px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 15px;
    padding: 10px;
    border: none;
}

.message-box:focus {
    outline: none;
    border: none;
    box-shadow: 0 3px 6px 5px #796778;
    border-bottom: 2px #796778;
}

.message-box:active {
    outline: 0px none transparent;
    border: none;
    box-shadow: none;
}

.submit-button {
    cursor: pointer;
    color: white;
    background-color: #5D737E;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: none;
}